.top {
	align-items: center;
	display: flex;
	justify-content: space-around;
	background: gray;
	height: 50px;
	position: sticky;
	top: 0;
}

.topCenter ul,
.topLeft ul {
	display: flex;
	list-style: none;
}
.topCenter ul li,
.topLeft ul li {
	margin: 0 15px;
}
.topCenter ul li a,
.topLeft ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.topRight {
	display: flex;
	align-items: center;
}

.topRight > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
.topRight > .searchBar {
	color: rgb(31, 31, 31);
	margin-left: 15px;
	font-size: 20px;
	cursor: pointer;
}
