.top {
	align-items: center;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	height: 50px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 100;
}

.topLeft ul li {
	margin: 0 7px;
}

.topCenter ul,
.topLeft ul {
	display: flex;
	list-style: none;
}
.topCenter ul li {
	margin: 0 15px;
}

.topLeft ul li a .topbarIcon {
	background-color: #292929;
	border-radius: 2px;
	color: #fff;
	padding: 3px;
	font-size: 20px;
	text-decoration: none;
}

.topCenter > ul li a {
	color: gray;
	text-decoration: none;
	text-transform: uppercase;
}
.topRight {
	display: flex;
	align-items: center;
}

.topRight > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
.topRight > .searchBar {
	color: rgb(31, 31, 31);
	margin-left: 15px;
	font-size: 20px;
	cursor: pointer;
}
